$themeBackgroundColor: tomato;
$themeTextColor: black;
header{
  position: fixed;
  top: 0px;
  background-color: $themeBackgroundColor;
  width: 100vw;
  h1 {
    color: $themeTextColor;
    display: float;
    float: left;
  }
  div {
    position: relative;
    top: 2em;
    display: float;
    float: right;
  }
}
.mainDiv {
  position: fixed;
  top: 0px;
  left: 0px;
  min-height: 100vh;
  min-width: 100vw;
}

.ChatBar {
  background-color: $themeBackgroundColor;
  position: absolute;
  height: 34px;
  width: 100vw;
  bottom: 0px;
  z-index: 1;
  border: 1.25px solid;
  form {
    display: inline-flex;
    justify-content: space-around;
    color: $themeTextColor;
    .username {
      float: left;
      border: 1px solid;
      margin: 7px;
    }
    .msg {
      float: right;
      margin: 7px;
      border: 1px solid;
      width: 66vw;
    }
  }
}

.messageContainer {
  position: relative;
  top: 6em;
  .user {
    font-weight: bold;
    float: left;
  }
  .msgText {
    margin-left: 20px;
  }
  .notificationTxt {
    font-style: italic;
  }
  .userimg {
    max-width: 60vw;
    max-height: 50vh;
  }
}

.hiddenSubmit {
  height: 0px;
  width: 0px;
  border: none;
  padding: 0px;
}
